{% extends 'inicio.html' %}

{% block content %}

<style>
    /* Estilos para centrar el contenido */
    h2, p {
        text-align: center; /* Centrar el texto */
    }
    /* Estilos para los botones */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        background-color: #4CAF50; /* Verde */
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #645fd1; /* Verde más oscuro en hover */
    }

    /* Puedes agregar estilos específicos para cada botón */
    button[name="modelo_texto"][value="modelo1"] {
        background-color: #008CBA; /* Azul */
    }

    button[name="modelo_texto"][value="modelo1"]:hover {
        background-color: #007bb5; /* Azul más oscuro en hover */
    }

    button[name="modelo_texto"][value="modelo2"] {
        background-color: #f44336; /* Rojo */
    }

    button[name="modelo_texto"][value="modelo2"]:hover {
        background-color: #da190b; /* Rojo más oscuro en hover */
    }
</style>
<!-- Botones para cargar modelos -->
<form action="{% url 'ayuda' %}" method="post">  <!-- Cambiar a POST -->
    {% csrf_token %}  <!-- Asegúrate de incluir el token CSRF -->
    <button type="submit" name="modelo_texto" value="modelo1">Mostrar Datos del Estudiante</button>
    <button type="submit" name="modelo_texto" value="modelo2">Mostrar Documentación</button>
</form>

{% if modelo_titulo %}
    <h2>{{ modelo_titulo }}</h2>
{% endif %}

{% if modelo_text %}
    <p>{{ modelo_text|safe }}</p>  <!-- 'safe' permite que el HTML se renderice correctamente -->
{% endif %}

{% if modelo_mensaje %}
    <p><strong>{{ modelo_mensaje }}</strong></p> <!-- Muestra el mensaje adicional aquí -->
{% endif %}
{% endblock %}